/*#header{
position: absolute;
margin: 0 auto;
top: 5%;
display: block;
justify-content: center;
}

#configureBox{
top: 10%;
display: block;
 width: auto;
position: absolute; 
justify-content: center;
}
*/
